/*===================================================================================*/
/* FRONT END */
/*===================================================================================*/

html {
	font-family: 'Source Sans Pro', san-serif, Aerial;
}


/*=================================*/
/* LOGIN AND SIGN UP CSS */

.login-form {
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: #ffffff;
	padding: 50px !important;
	width: 100%;
	border-radius: 6px;
	box-shadow: 0 4px 8px  rgba(0, 0, 0, 0.14);
}
.login-form form {
	padding-top: 40px;
}

.login-form h4 {
	color: #333333;
	text-align: center;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 0.72px;
}

.login-form hr {
	margin-bottom: 20px;
	margin-top: 50px;
}

.login-form form input {
	height: 44px;
	width: 100%;
	margin: 0 auto;
	line-height: 1;
}

.login-form a {
	font-size: 14px;
}

/*=================================*/

/*=================================*/
/* Search Bar */
#search-wrap {
	margin-top: 56px;
	background-color: #FFFFFF;
	z-index: 1;
}

/*=================================*/

/*=================================*/
/* Navbar */
#mainNav {
	background-color: #fff;
	box-shadow: 0 4px 8px  rgba(0, 0, 0, 0.14);
	color: #000 !important;
}
#mainNav .navbar-brand,
#mainNav .navbar-nav>li.nav-item>a {
	color: #000;
}
#mainNav .navbar-nav>li.nav-item>a:focus, 
#mainNav .navbar-nav>li.nav-item>a:hover {
	background-color: #0085a1;
}
#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
	color: rgb(0,0,0);
}

/*#mainNav .navbar-brand {
	color: #fff;
}*/
article {
	margin-top: 70px;
}
.top-margin {
	margin-top: 67px;
}

@media screen and (max-width: 991px) {
	article, .top-margin {
		margin-top: 57px;
	}
}

/*=================================*/

/*=================================*/
/* Main Front Page */
.main-front-page {
	margin-top: 160px;
	margin-left: 50px;
	margin-right: 50px;
}

.card-horizontal {
	display: flex;
	flex: 1 1 auto;
}

/* BACK TO TOP */
.top-link {
	transition: all 0.25s ease-in-out;
	position: fixed;
	bottom: 0;
	right: 0;
	display: inline-flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	margin: 0 1em 1em 0;
	border-radius: 50%;
	padding: 0.25em;
	width: 50px;
	height: 50px;
	background-color: #f8f8f8;
	box-shadow: 0 4px 8px  rgba(0, 0, 0, 0.14);
	z-index: 999;
}
.top-link.show {
	visibility: visible;
	opacity: 1;
}
.top-link.hide {
	visibility: hidden;
	opacity: 0;
}
.top-link svg {
	fill: #000;
	width: 24px;
	height: 12px;
}
.top-link:hover {
	background-color: #e8e8e8;
}
.top-link:hover svg {
	fill: #000000;
}

/*=================================*/

/*=================================*/
/* POST PAGE */

blockquote {
	border-left: 4px solid #00ab6b;
	padding: 0 20px;
	font-style: italic;
	color: rgba(0,0,0,.5);
}

/*=================================*/