/*===================================================================================*/
/* FRONT END */
/*===================================================================================*/

/*=================================*/
/* Login form css */
.login-form {
	text-align: center;
	position: absolute;
	width: 250px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/*=================================*/

/*=================================*/
/* Search Bar */
#search-wrap {
	margin-top: 56px;
	background-color: #FFFFFF;
	z-index: 1;
}

/*=================================*/

/*=================================*/
/* Navbar */

.navbar-collapse {
	background-color: #ffc107!important;
}

/*=================================*/

/*=================================*/
/* Main Front Page */
.main-front-page {
	margin-top: 160px;
	margin-left: 50px;
	margin-right: 50px;
}

/*=================================*/