/*===================================================================================*/
/* FRONT END */
/*===================================================================================*/

html {
	font-family: 'Source Sans Pro', san-serif, Aerial;
}


/*=================================*/
/* LOGIN AND SIGN UP CSS */

.login-form {
	background-color: #ffffff;
	padding: 50px !important;
	width: 100%;
	border-radius: 6px;
	box-shadow: 0 4px 8px  rgba(0, 0, 0, 0.14);
}
.login-form form {
	padding-top: 40px;
}

.login-form h4 {
	color: #333333;
	text-align: center;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 0.72px;
}

.login-form hr {
	margin-bottom: 20px;
	margin-top: 50px;
}

.login-form form input {
	height: 44px;
	width: 100%;
	margin: 0 auto;
	line-height: 1;
}

.login-form a {
	font-size: 14px;
}

/*=================================*/

/*=================================*/
/* Search Bar */
#search-wrap {
	margin-top: 56px;
	background-color: #FFFFFF;
	z-index: 1;
}

/*=================================*/

/*=================================*/
/* Navbar */

/*.navbar-collapse {
	background-color: #ffc107!important;
}*/

/*=================================*/

/*=================================*/
/* Main Front Page */
.main-front-page {
	margin-top: 160px;
	margin-left: 50px;
	margin-right: 50px;
}

.card-horizontal {
	display: flex;
	flex: 1 1 auto;
}

/*=================================*/